.logo-link__text {
  margin: 0;

  &:first-child {
    position: relative;

    font-size: 26px;
    font-weight: $f-bold;
    color: $c-red;

    &::before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: -2px;
      width: 9px;
      height: 2px;
      background-color: $c-red;
    }

    span {
      color: $c-black;
      text-transform: uppercase;
    }
  }

  &:last-child {
    font-size: 12px;
    font-weight: $f-regular;
    color: $c-dark;
    text-transform: uppercase;
    letter-spacing: 9px;
  }
}
